

*{
  box-sizing: border-box;
}
body{
  background-color: rgb(26, 25, 25);
  color: #ddd;
}

main{
  max-width: 360px;
  margin: 30px  auto;
  position: relative;
}

h1{
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2rem;
}

h1 span{
  font-size: 1rem;
}

form{
  margin-top: 20px;
}

form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"]{
  color: #777;
}

form div.basic{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
  cursor: pointer;
}


div.transactions{
  margin-top: 5px;

}


div.transaction{
  border-top: 1px solid #30313d;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  
}
div.transaction:first-child{
  border-top: none;
}

div.transaction div.name{
  font-size: 1.2rem;
}

div.transaction div.description{
  font-size : 0.7rem;
  color: #888;
}

div.right{
  text-align: right;
}

div.green{
  color: rgb(0, 252, 0);
}

div.red{
  color: red;
}

div.transaction div.datetime{
  font-size : 0.7rem;
  color: #888;
}

 button.clear{
  background-color: #ddd;
  color: #000000;
  border-radius: 5px;
  padding: 2px 7px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
}

button.clear:hover{
  transition-duration: 0.2s;
  background-color: #ff0000;
  color: white;
  transform: scale(0.9); 
}

form button:hover{
  transition-duration: 0.2s;
  background-color: #6e6d6d;
  color: rgba(255, 255, 255, 0.947);
  transform: scale(0.95); 
}